.btn {
	font-family: inherit;
	border: none;
	border-radius: 3px;
	font-size: 1rem;
}

.btn.default {
	background-color: rgb(45, 45, 45);
	color: white;
	padding: 0.5em 1em;
	font-weight: 500;
	transition: opacity 0.1s ease;
}

.btn.icon {
	padding: 0;
	color: inherit;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn:not(:disabled) {
	cursor: pointer;
}

@media (hover: hover) {
	.btn.default:not(:disabled):hover {
		opacity: 0.8;
	}
}
