.grid-item {
	width: 100%;
	aspect-ratio: 4/5;
	background-color: white;
}

.product-content {
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: inherit;
	display: grid;
	grid-template-rows: 1fr 4rem;
}

.img-container {
	aspect-ratio: 1;
	padding: 1rem;
	align-self: start;
}

.img-container img {
	display: block;
	object-fit: contain;
	object-position: center;
	width: 100%;
	height: 100%;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}
