:root {
	--main-font: 'IBM Plex Sans', sans-serif;
	--logo-font: 'Monoton', var(--main-font);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.2);
}

html {
	font-size: 1rem;
}

body {
	font-family: var(--main-font);
}
